@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1; position:relative;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: ''; content: none;
}

table {
    border-collapse: collapse; border-spacing: 0;
}
	
.container-fluid {padding:0;}
.headerNav {position:fixed;top:0;background-color:transparent;z-index:15;width:100%;padding:10px 25px;
-webkit-transition: background-color .3s ease-in;
transition: background-color .3s ease-in;}
.headerUl {display:flex;justify-content:space-between;align-items:center;}
.loginList {max-width:270px;width:100%;background-color:#fff;position:absolute;top:50%;left:50%;height:330px;padding:20px;box-shadow: 1px 3px 3px 2px #6f6363;border-radius:5px;transform:translate(-50%,-50%);z-index:15;}
.loginList .loginBoxx .loginBTN {width:100%;border:0;border-radius:30px;background-color:#2c59e5;padding:15px 25px;margin-top:5px;color:#000;}
.loginList .loginA {width:100%;display:flex;justify-content:space-between;align-items:center;margin:15px 0;}
.loginList .loginA input {width:150px;}
.form-outline {position:relative;}
.form-control {max-width:150px;width:100%;padding:0 35px;}
.loginBox {z-index:20;}
.trTab {padding:10px 0;display:flex;justify-content:space-between;align-items:center;}

.userTab-wrapper {position: relative;overflow: hidden;height: 880px;width: 250px;position: fixed;top: 63px;right: 0;z-index: 0;}
.userTab-wrapper.wrapperOpen {z-index:21;} 
.userTab {height: 100%;width: 250px;background: rgba(255, 255, 255, 0.6);position: absolute;right: -250px; top: 0;transition: right 0.9s ease;border-left: 1px solid #ddd;border-top:1px solid #ddd;z-index: 11;}
.userTab.userTab-open {right: 0;}

.userTab p a {padding:40px 13px;border-bottom:1px solid #ddd;cursor:pointer;display:block;text-align:center;}
.userTab p:hover, .userTab p:hover a {background-color:#000;color:#fff}
input#searchID {border-radius:30px;padding:5px 20px;border:1px solid #ddd;}
.fa-search {position:absolute;top:11px;right:20px;left:initial;} 
.btnSubmit {background-color:transparent;border:0;position:absolute;right:5px;top:7px;width:50px;height:21px;}
		
.pixel-crown {
    display: inline-block;
    width: 24px;
    height: 20px;
    position: relative;
    margin-left: 8px;
    image-rendering: pixelated;
}

.pixel-crown::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 24px 20px;
    background-repeat: no-repeat;
}

.bronze::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 20'%3E%3Cpath fill='%23cd7f32' d='M12,0 L8,6 L0,4 L4,10 L0,16 L8,14 L12,20 L16,14 L24,16 L20,10 L24,4 L16,6 L12,0 Z'/%3E%3C/svg%3E");
}

.silver::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 20'%3E%3Cpath fill='%23c0c0c0' d='M12,0 L8,6 L0,4 L4,10 L0,16 L8,14 L12,20 L16,14 L24,16 L20,10 L24,4 L16,6 L12,0 Z'/%3E%3C/svg%3E");
}

.gold::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 20'%3E%3Cpath fill='%23ffd700' d='M12,0 L8,6 L0,4 L4,10 L0,16 L8,14 L12,20 L16,14 L24,16 L20,10 L24,4 L16,6 L12,0 Z'/%3E%3C/svg%3E");
}

.vip::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 20'%3E%3ClinearGradient id='grad' x1='0%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23ff00ff' /%3E%3Cstop offset='100%25' stop-color='%2300ffff' /%3E%3C/linearGradient%3E%3Cpath fill='url(%23grad)' d='M12,0 L8,6 L0,4 L4,10 L0,16 L8,14 L12,20 L16,14 L24,16 L20,10 L24,4 L16,6 L12,0 Z'/%3E%3C/svg%3E");
}
.grade-name {
    margin-top: 16px; padding: 8px 16px; border-radius: 9999px; text-align: center;
    font-size: 14px; font-weight: bold; color: white; width: fit-content;
}

/* 각 등급별 배경색상 */
.bronze-name {
    background-color: #cd7f32;
}
.silver-name {
    background-color: #c0c0c0;
}
.gold-name {
    background-color: #ffd700;
}
.vip-name {
    background: linear-gradient(45deg, #ff00ff, #00ffff);
}