<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- domain(DTO) package -->
	<typeAliases>
		<typeAlias type="com.spring.app.category.domain.CategoryDTO" alias="CategoryDTO" />
		<typeAlias type="com.spring.app.shop.domain.ItemDTO" alias="ItemDTO" />
	</typeAliases>

</configuration>